.dashboard {
    font-family: calibri;
    display: flex;
    }

@media screen and (max-device-width: 800px) {
    .dashboard {
        font-family: calibri;
        display: table;
        width: 100vw;
        }
}
    
    .userCol { 
        display: grid;
    }

    .contentCol { 
        display: grid;
        grid-area: 1 / 2 / 1 / 2; 
        grid-column-start: 2;
        grid-column-end: 2;
        grid-template-rows: 6vw auto;
        width: 100%;
    }

    .homeHeader {
        font-size: 4vw;
        padding-top: 10px;
        padding-bottom: 10px;
        font-family: calibri;
        background-color: rgb(219, 219, 232);
    }

    .dashboardAvatar {
        margin: auto;
        align-items: center;
        justify-content: center;
    }